lombok.anyConstructor.addConstructorProperties=true
lombok.addLombokGeneratedAnnotation=true
lombok.copyableAnnotations+=org.springframework.stereotype.Service
lombok.copyableAnnotations+=org.springframework.stereotype.Component
lombok.copyableAnnotations+=org.springframework.stereotype.Repository
lombok.copyableAnnotations+=org.springframework.stereotype.Controller
lombok.copyableAnnotations+=org.springframework.web.bind.annotation.RestController